input {
    display: block;
    width: 100%;
}
body {
    margin: 0;
}
h1, p {
    text-align: center;
}
.encourage {
    font-style: italic;
}
form {
    width: 50%;
    margin: auto;
    background-color: #0A192F;
    color: #EAEAEA;
    padding: 25px;
}
fieldset {
    border: 0;
}
select, textarea {
    display: block;
}